/* .categoria {
    background-color: #3f51b5;
} */

.row {
    display: flex;
    flex-direction: row;
    /* centrar el box : al hijo*/
    justify-content: center;
    /* min-height: 55vh; */
}

.productDetails {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 10rem;
    margin: 7px;
}

.productDetails:hover {
    border: 1px solid rgb(139, 139, 139);
}

.image-container {
    position: relative;
    height: 150px;
}

.imagen {
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

pagination-controls {
    color: #3f51b5;
}










/* .productbox {
    padding: 10px 15px;
    height: 100%;
} */

/* ::ng-deep .ngx-pagination .current{
        background-color: rgb(15, 15, 15);
        } */
/* 
 @media (max-width:670px) {
   mat-grid-list{
    /* flex-direction: column;
     align-items: center; */
/* display: flex;
    justify-content: center;
    }
} */