 <div class="container mt-5 mb-5">
    <div class="row" >
      <!-- *ngIf="prod" -->
 
      <div class="col-lg-3 col-md-4 col-sm-5" *ngFor="let productosCategoria of productosCategoria  | paginate: { itemsPerPage:itemsPerPage, currentPage: p } | objToArray" routerLink="/producto/{{productosCategoria.id}}">
        <!-- <p class="categoria"> {{prod.categoria}} </p>  -->
        
            <div class="productbox mt-3 mb-3" >
             
                 <img src=" {{productosCategoria.imagen}} " alt="fotoProducto"> 
                 <h3> {{productosCategoria.nombre}} </h3>  
                 <p> {{productosCategoria.descripcion}}</p>
                  <p> {{productosCategoria.precio | currency:'ARS ':true}} </p>   
            </div>
         </div> 
    </div>

</div> 
<div class="paginacion">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
