.logo {
    width: 9rem;
    height: 2rem;
}

.logo img {
    width: 100%;
    margin-top: -5px;
    margin-left: 10px;
}

/* .active {
    font-weight: 700;
    text-decoration: underline;
    color: #3f51b5;

} */

a {
    color: rgb(34, 34, 34);
}


.navbar-toggler{
 color: transparent; 
padding: 0px 30px;

}

#oculta{
    color: rgb(116, 115, 115);
    margin: 30px;
}