<div class="container-fluid footer mt-3">
    <div class="row">
        <div class="col-lg-4">
            <h3>Hidrolimp</h3>
        </div>
        <div class="col-lg-6">
            <a routerLink="">Home</a>
            <a routerLink="about">About</a>
        </div>

        <div class="col-lg-2">
             <!-- href='http://github.com/MaquiCapri'   -->Redes sociales:
            <a href="#" target="_blank" ><i class="bi bi-facebook" ></i></a>
        </div>

        <div class="telefono row">
            <div class="col-lg-1 ">
                <img src="assets/phone-call.png" alt="" width="18" height="18">
            </div>
            <div class="col-lg-3">
                <p>+54 9 456-7890</p>
            </div>
            <div class="col-lg-3" >
                <p>Hecho por Maqui/Capri</p>
            </div>

        </div>

    </div>


</div>