
<mat-toolbar color="primary">
    <span>Listado de productos</span>
  </mat-toolbar>

  <mat-card>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="escribir producto" #input autocomplete="off">
    </mat-form-field>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

        <!-- Position Column -->
        <ng-container matColumnDef="nombre" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
          <td mat-cell *matCellDef="let productData"  [routerLink]="['/producto',productData.id]"> {{productData.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
            <td mat-cell *matCellDef="let productData" > {{productData.precio | currency:'ARS ':true}} </td>
          </ng-container>
          
         <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="marca"></tr>
      </table>
      
       <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator> 
  </mat-card>