  <mat-toolbar color="primary" >
    <span>Listado de productos</span>
    
  </mat-toolbar>
  <button class="btn btn-primary mt-2" (click)="irCrear()">Crear producto</button>
  <br>
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="escribir producto" #input autocomplete="off">
  </mat-form-field>

   <div class="mat-elevation-z8"> 

    <table mat-table [dataSource]="dataSource" matSort >

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto </th>
        <td mat-cell *matCellDef="let listaProd"> {{listaProd.nombre}} </td>
      </ng-container>
      <!-- routerLink="/producto/{{listaProd.id}}" -->
          <!-- Precio -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let listaProd"> {{listaProd.precio | currency:'ARS ':true}} </td>
          </ng-container>
          <!-- routerLink="/producto/{{listaProd.id}}" -->
      <!-- Weight Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
       <td mat-cell *matCellDef="let listaProd" >{{listaProd.category.name}}</td> 
      </ng-container>

      <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
       <td mat-cell *matCellDef="let listaProd">
      <button mat-icon-button color="primary" (click)="showImages(listaProd)">
        <i class="bi bi-images"></i>
      </button>
    </td> 
      </ng-container>
      
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar</th>
        <td mat-cell *matCellDef="let listaProd"><button class="btn btn-outline-dark" (click)="editProductDetails(listaProd.id)" >
          <!-- routerLink="/crear/{{listaProd.id}}" -->
          <i class="bi bi-pencil-fill"></i></button> </td>
      </ng-container>
      
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
        <td mat-cell *matCellDef="let listaProd"><button class="btn btn-outline-danger" (click)="eliminarProducto(listaProd.id)">
          <i class="bi bi-trash3-fill"></i></button> </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="marca"></tr>
    
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
   </div>
 
   