<div class="container mt-5">
    <div class="centrar">
        <div class="foto">
            <img class="p-1" src="assets/mario.jpg" alt="foto">
        </div>
    </div>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptates ab iusto possimus totam, repellendus dolorem repudiandae laboriosam provident ipsum quo laborum magni minima odio veniam at nihil fugiat quibusdam?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid libero labore eius? Eius saepe suscipit sequi nulla repellat corrupti odit! Eveniet commodi facilis quam error aliquam assumenda explicabo, qui blanditiis.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi sint tempore, dolores accusantium tempora a! Reiciendis molestias maxime mollitia voluptate facilis numquam doloribus sapiente, inventore dolorum! Nam ratione iste perferendis?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid libero labore eius? Eius saepe suscipit sequi nulla repellat corrupti odit! Eveniet commodi facilis quam error aliquam assumenda explicabo, qui blanditiis.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi sint tempore, dolores accusantium tempora a! Reiciendis molestias maxime mollitia voluptate facilis numquam doloribus sapiente, inventore dolorum! Nam ratione iste perferendis?
    </p>
</div>
