.productbox {
    display: flex;
    direction: row;
    width: 40rem;
    border-radius: 20px;
    border: 1px solid rgb(41, 41, 41);
}

img {
    width: 50%;
    padding: 10px;
}

.texto {
    padding: 20px;
    width: 30rem;
}

@media (max-width: 590px) {

    .productbox {
        flex-wrap: wrap;
        width: 20rem;

    }
 

}