<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">

                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                    <!-- ngModel #nombre="ngModel" #_nombre -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre"
                         [(ngModel)]="producto.nombre" name="nombre" 
                         ngModel #nombre="ngModel" #_nombre 
                          required
                          minlength="3"
                         maxlength="22"> 
                       
                        <div class="validacion" *ngIf="nombre.invalid && nombre.touched">
                           Se requiere como mínimo 3 caracteres.
                        </div>
                    </mat-form-field > 

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Descripción" [(ngModel)]="producto.descripcion" name="descripcion"
                        ngModel #descripcion="ngModel" #_descripcion 
                        required
                        minlength="3"
                       maxlength="44"> 
                        <div class="validacion" *ngIf="descripcion.invalid && descripcion.touched">
                            Se requiere como mínimo 3 caracteres.
                         </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Precio</mat-label>
                        <input matInput placeholder="Precio" [(ngModel)]="producto.precio" name="precio"
                        ngModel #precio="ngModel" #_precio 
                        required
                        minlength="1"
                       maxlength="8">  
                       <div class="validacion" *ngIf="precio.invalid && precio.touched">
                            Se requiere como mínimo 1 caracter.
                         </div>
                    </mat-form-field>

                    <label for="categoria" class="form-label">Categoría</label>
                    <select [compareWith]="compararCategoria" placeholder="Seleccionar categoria" [(ngModel)]="producto.category" class="form-control"
                        name="categoria" required>
                        <option [ngValue]="undefined" placeholder="Seleccionar categoria">--- Seleccionar una categoria
                            ---</option>
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria"> {{categoria.name}} </option>
                    </select>
                    <br>
                    <div align="end">
                        <button mat-stroked-button class="primary" (click)="volverLista()">Volver lista</button>
                        <button mat-stroked-button class="primary" type="submit" [disabled]="!productForm.form.valid">Guardar</button>
                    </div>

                </form>

            </div>
            <div class="col-6">
                <div class="dropzone" appDrag (files)="fileDropped($event)">
                    <div class="text">
                        <div class="centered p-2">
                            Arrastre y suelte su archivo o busque <br> un
                            <a (click)="selectFile.click()" class="archivo">archivo</a>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="file" style="display:none" multiple value="select" #selectFile
                        (change)="onFileSelected($event)" placeholder="Imagen">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="1" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of producto.productImages; let i = index">
                                <div style="position: relative">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="150" height="80%">

                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>