.container{
    background:  #7A98B9;
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
     margin-top:5px;
     width: 350px;
}

input{
    margin: 0 auto;
    width: 300px;
    margin-bottom: 6px;
    color: #383838;
}

select{
    width: 300px;
    margin: 0 auto;
}

button{
    margin-bottom: 5px;
}

