.banner {
    height: 600px;
    background-position: center top;
    background-size: cover;
}

.content {
    position: absolute;
    margin-top: 10%;
    background-color: #3f51b5;
    color: #000;
    padding: 10px;
    width: 99%;
    height: 20%;
    text-align: center;
}

.content a {
    color: #3f51b5;
}

.content a:hover {
    background-color: #fff;
}

.irProductos {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* CS PRODUCTOS */

.col-lg-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100rem;
}

.productbox {
    padding: 10px 5px;
}

.productbox img {
    width: 13.5rem;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

#uno:hover {
    background-color: #3f51b5;
    color: #fff;
}

 #dos:hover {
    background-color: #3f51b5;
    color: #fff;
} 

#tres:hover {
    background-color: #3f51b5;
    color: #fff;
}

#cuatro:hover {
    background-color: #3f51b5;
    color: #fff;
}

h3 {
    font-size: 18px;
    text-align: center;
}

.irLista {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
}

.irLista:hover {
    color: #3f51b5;
}

   @media (max-width: 500px) {
    .col-lg-3 {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}   