<p>contacto works!</p>

<div class="container">
    <form id="form">

        <label for="Nombre">Nombre</label>
        <input type="text" name="name">
    
        <label for="email">Email</label>
        <input type="email" name="email">
    
        <label for="subject">Asunto</label>
        <input type="text" name="subjet">
    
        <label for="comments">Comentario</label>
        <textarea name="comments" cols="15" rows="5"></textarea>
    
        <input type="submit" id="button" value="enviar">
    </form>

    

</div>
